PORT = 3000
MONGODB_URL = mongodb://localhost:27017/administrativeWorld

FRONTEND_URL=http://localhost:3000 // we used in resetPassword controller


MAIL_HOST = smtp.gmail.com
MAIL_USER = adpudwork01@gmail.com
MAIL_PASS = vdgpbvatcaqnklpg

JWT_SECRET = "Administrative"

CLOUD_NAME = dqvkbnrlu
API_KEY = 365882128442531
API_SECRET = keYcqCtAZM4HowXebFQ-WJ6C_mY

# testing api
RAZORPAY_KEY = rzp_test_4no7TTAr9Vlqfb
RAZORPAY_SECRET = FRLbj9rAM7hsbFQmy6frV5z5


# live key
# RAZORPAY_KEY = rzp_live_30BeiKTqX56n4o
# RAZORPAY_SECRET = bY3esoMQcIxXgZ3T5SKt1It1


ZOOM_JWT_TOKEN = eyJzdiI6IjAwMDAwMiIsImFsZyI6IkhTNTEyIiwidiI6IjIuMCIsImtpZCI6IjNlYzI0NGQ0LTQ2ZDctNDRiZC05YWRhLTkzOTY4OGFiODIzNyJ9.eyJhdWQiOiJodHRwczovL29hdXRoLnpvb20udXMiLCJ1aWQiOiJGcFc1WXdSaVRQdVFrajAxOGlkeXB3IiwidmVyIjoxMCwiYXVpZCI6IjhjNTQ1N2RjNmJiODBmOWNkNmU1NzM4ZjIwMzc0Mzc0OWQzZjViODJiNzk1OGY0ZTdkMzFlOWQxNWYwNmM4M2UiLCJuYmYiOjE3Mzk5NDk3ODQsImNvZGUiOiJHNFJfYVhNb1NlbWtsVTZfaVJkZVRRTDJGRWJtSEFKdjQiLCJpc3MiOiJ6bTpjaWQ6VVdRcUVVTlJCYXY3azEzZjF6Vm93IiwiZ25vIjowLCJleHAiOjE3Mzk5NTMzODQsInR5cGUiOjMsImlhdCI6MTczOTk0OTc4NCwiYWlkIjoiVkZHb3g4ZTlTOVNfdUszRUZLX21nQSJ9.XqMVomvN_TCL89aXw5RFPgPxiqhFExY9Xo9gsdIG8cPZTurHOz5_NO-UqVCrEnelQfJ6WmmaYz4iC4qkz2GF1Q